@charset  "UTF-8";
 html, body {
         margin:0;
         padding:0;
         box-sizing:border-box;
               }

header  {
         background-image: linear-gradient(to right, rgba(100,0,150,0), rgb(128, 128, 226));
         grid-area: header
        }

#promo  {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 5% 0 5%;
        }


.item2  {
    height: 300px;
    width: 250px;
    color:black;
    background-color: white;
        }




